{% extends "visual/analysis.html" %}
{% block display %}
{% load tags %}
<!-- 创建2个Semantic UI tab，根据鼠标点击切换，以保证页面干净清爽 -->

<div class="ui pointing secondary menu">
    <a class="item active" data-tab="Summary"><i class="circle icon"></i>Summary</a>
    <a class="item" data-tab="Feature"><i class="trophy icon"></i>Feature</a>
    <a class="item" data-tab="show_all"><i class="circle icon"></i>show_all</a>
    <a class="item" data-tab="plot"><i class="circle icon"></i>plot</a>
</div>

<div class="ui tab segment active" data-tab="Summary">

    <!-- 数据处理时的loading遮罩 -->
    <div class="ui active dimmer" id="dimmer">
    <div class="ui text" style="color: #ffffff">
        请使用左侧筛选框选择两个维度生成图像(分析维度)
        <br><br>
        选择若干个维度在图中填充辅助信息(辅助维度)
    </div>
    </div>

    <h3 class="ui header">
        <div class="content">
            KPIs
            <div class="sub header">KPIs, containing mean, std, median of input feature</div>
        </div>
    </h3>

    <div class="ui divider"></div>

    <div class="sub header">Feature 1</div>

    <!-- Semantic UI的statistic类能呈现“醒目大数字”的效果 -->
    <div class="ui small three statistics">

        <div class="statistic">
            <div class="value" id="df_mean">
                {{ df_mean }}
            </div>
            <div class="label" id="df_mean_print_1">
                df_mean
            </div>
        </div>

        <div class="statistic">
            <div class="value" id="df_std">
                {{ df_std }}
            </div>
            <div class="label" id = 'df_std_print_1'>
                df_std
            </div>
        </div>

        <div class="statistic">
            <div class="value" id="df_median">
                {{ df_median }}
            </div>
            <div class="label" id="df_median_print_1">
                df_median
            </div>
        </div>

    </div>

    <div class="ui divider"></div>


    <div class="sub header">Feature 2</div>

    <!-- Semantic UI的statistic类能呈现“醒目大数字”的效果 -->
    <div class="ui small three statistics">

        <div class="statistic">
            <div class="value" id="df_mean1">
                {{ df_mean }}
            </div>
            <div class="label" id="df_mean_print_2">
                df_mean
            </div>
        </div>

        <div class="statistic">
            <div class="value" id="df_std1">
                {{ df_std }}
            </div>
            <div class="label" id = 'df_std_print_2'>
                df_std
            </div>
        </div>

        <div class="statistic">
            <div class="value" id="df_median1">
                {{ df_median }}
            </div>
            <div class="label" id="df_median_print_2">
                df_median
            </div>
        </div>
    </div>
</div>

<div class="ui tab segment" data-tab="Feature">
    <h3 class="ui header">
        <div class="content">
            Selected Feature (ALL)
            <div class="sub header">所选特征</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container" id='data_' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
        {{ data_|safe }}
    </div>
</div>

<div class="ui tab segment" data-tab="show_all">
    <h3 class="ui header">
        <div class="content">
            Raw Data
            <div class="sub header">数据展示</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container" id='alldata' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        {{ alldata|safe }}
    </div>
</div>

<div class="ui tab segment" data-tab="plot">
    <h3 class="ui header">
        <div class="content">
            Figure
            <div class="sub header">柱状折线复合图</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
        <div id="bar_total_trend" style="width:1000px; height:600px;"></div>
        <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
        <div class="box">
            <div id="bar_total_trend" class="chart-container" style="width:1100px; height:500px;"></div>
            <script>
                var chart = echarts.init(document.getElementById('bar_total_trend'), 'white', {renderer: 'canvas'});
                var feature_X = $("#data_").val()[0];
                var feature_y = $("#data_").val()[1];
                var X = $("alldata").val()[feature_X];
                var y = $("alldata").val()[feature_y];
                var total = new Array ();
                for (var index in range(len(X))){
                    var tmp = [X[index], y[index]];
                    total.append(tmp);
                }
                var option = {
                    "animation": true,
                    "animationThreshold": 2000,
                    "color": [
                        "#d14a61",
                        "#d14a61",
                    ],
                    "series": [
                        {
                            "type": "line",
                            "name": "Overall_YD",
                            "connectNulls": false,
                            "yAxisIndex": 0,
                            "symbolSize": 12,
                            "showSymbol": true,
                            "smooth": false,
                            "clip": true,
                            "step": false,
                            "data": total,
                            "hoverAnimation": true,
                            "label": {
                                "show": false,
                                "position": "top",
                                "margin": 8
                            },
                            "lineStyle": {
                                "show": true,
                                "width": 3,
                                "opacity": 1,
                                "curveness": 0,
                                "type": "solid"
                            },
                            "areaStyle": {
                                "opacity": 0
                            },
                            "itemStyle": {
                                "color": "#ca8622",
                                "borderWidth": 2
                            },
                            "zlevel": 0,
                            "z": 0,
                            "rippleEffect": {
                                "show": true,
                                "brushType": "stroke",
                                "scale": 2.5,
                                "period": 4
                            }
                        },

                        {
                            "type": "bar",
                            "name": "QST_qty",
                            "yAxisIndex": 1,
                            "legendHoverLink": true,
                            "data": np.array(y).tolist(),
                            "showBackground": false,
                            "stack": "stack1",
                            "barMinHeight": 0,
                            "barCategoryGap": "50%",
                            "barGap": "30%",
                            "large": false,
                            "largeThreshold": 400,
                            "seriesLayoutBy": "column",
                            "datasetIndex": 0,
                            "clip": true,
                            "zlevel": 0,
                            "z": 2,
                            "label": {
                                "show": false,
                                "position": "top",
                                "margin": 8
                            },
                            "itemStyle": {
                                "color": "#ca8622"
                            },
                            "rippleEffect": {
                                "show": true,
                                "brushType": "stroke",
                                "scale": 2.5,
                                "period": 4
                            },
                            "legend_opts": {
                                "show": false,
                                "padding": 5,
                                "itemGap": 10,
                                "itemWidth": 25,
                                "itemHeight": 14
                            }
                        }
                    ],
                    "legend": [
                        {
                            "data": [
                                "Overall_YD",

                                "QST_qty"
                            ],
                            "selected": {
                                "Overall_YD": true,

                                "QST_qty": true
                            },
                            "type": "scroll",
                            "show": true,
                            "right": "3%",
                            "top": "30%",
                            "orient": "vertical",
                            "padding": 5,
                            "itemGap": 10,
                            "itemWidth": 25,
                            "itemHeight": 14
                        }
                    ],
                    "tooltip": {
                        "show": true,
                        "trigger": "axis",
                        "triggerOn": "mousemove|click",
                        "axisPointer": {
                            "type": "cross"
                        },
                        "showContent": true,
                        "alwaysShowContent": false,
                        "showDelay": 0,
                        "hideDelay": 100,
                        "textStyle": {
                            "fontSize": 14
                        },
                        "borderWidth": 0,
                        "padding": 5
                    },
                    "xAxis": [
                        {
                            "type": "category",
                            "name": "Quasi_FWK",
                            "show": true,
                            "scale": false,
                            "nameLocation": "end",
                            "nameGap": 55,
                            "gridIndex": 0,
                            "axisLine": {
                                "show": true,
                                "onZero": false,
                                "onZeroAxisIndex": 0
                            },
                            "axisLabel": {
                                "show": true,
                                "position": "top",
                                "rotate": -90,
                                "margin": 8
                            },
                            "inverse": false,
                            "offset": 0,
                            "splitNumber": 5,
                            "minInterval": 0,
                            "splitLine": {
                                "show": false,
                                "lineStyle": {
                                    "show": true,
                                    "width": 1,
                                    "opacity": 1,
                                    "curveness": 0,
                                    "type": "solid"
                                }
                            },
                            "data": null
                        }
                    ],
                    "yAxis": [
                        {
                            "type": "value",
                            "name": "Yield",
                            "show": true,
                            "scale": false,
                            "nameLocation": "center",
                            "nameGap": 60,
                            "nameTextStyle": {
                                "fontWeight": "bolder",
                                "fontSize": 20
                            },
                            "gridIndex": 0,
                            "axisTick": {
                                "show": true,
                                "alignWithLabel": false,
                                "inside": false
                            },
                            "axisLabel": {
                                "show": true,
                                "position": "top",
                                "margin": 8,
                                "fontSize": 13,
                                "formatter": "{value} %"
                            },
                            "inverse": false,
                            "offset": 0,
                            "splitNumber": 10,
                            "min": 69,
                            "max": 99,
                            "minInterval": 0,
                            "splitLine": {
                                "show": true,
                                "lineStyle": {
                                    "show": true,
                                    "width": 1,
                                    "opacity": 1,
                                    "curveness": 0,
                                    "type": "solid"
                                }
                            },
                            "splitArea": {
                                "show": true,
                                "areaStyle": {
                                    "opacity": 1
                                }
                            }
                        },

                        {
                            "type": "value",
                            "name": "Volume",
                            "show": true,
                            "scale": false,
                            "nameLocation": "center",
                            "nameGap": 70,
                            "nameTextStyle": {
                                "fontWeight": "bolder",
                                "fontSize": 20
                            },
                            "gridIndex": 0,
                            "axisLabel": {
                                "show": true,
                                "position": "top",
                                "margin": 8,
                                "fontSize": 13,
                                "formatter": "{value} K"
                            },
                            "inverse": false,
                            "position": "right",
                            "offset": 0,
                            "splitNumber": 5,
                            "min": 0,
                            "max": 50000,
                            "minInterval": 0,
                            "splitLine": {
                                "show": false,
                                "lineStyle": {
                                    "show": true,
                                    "width": 1,
                                    "opacity": 1,
                                    "curveness": 0,
                                    "type": "solid"
                                }
                            }
                        }
                    ],
                    "title": [
                        {
                            "text": "PCM Quasi Yield Trend_MB",
                            "left": "30%",
                            "top": "20",
                            "padding": 5,
                            "itemGap": 10,
                            "subtextStyle": {
                                "color": "blue",
                                "align": "40"
                            }
                        }
                    ],
                    "toolbox": {
                        "show": true,
                        "orient": "horizontal",
                        "itemSize": 15,
                        "itemGap": 10,
                        "left": "80%",
                        "feature": {
                            "saveAsImage": {
                                "type": "png",
                                "backgroundColor": "white",
                                "connectedBackgroundColor": "#fff",
                                "show": true,
                                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                                "pixelRatio": 5
                            },
                            "restore": {
                                "show": true,
                                "title": "\u8fd8\u539f"
                            },
                            "dataView": {
                                "show": true,
                                "title": "\u6570\u636e\u89c6\u56fe",
                                "readOnly": false,
                                "lang": [
                                    "\u6570\u636e\u89c6\u56fe",
                                    "\u5173\u95ed",
                                    "\u5237\u65b0"
                                ],
                                "backgroundColor": "#fff",
                                "textareaColor": "#fff",
                                "textareaBorderColor": "#333",
                                "textColor": "#000",
                                "buttonColor": "#c23531",
                                "buttonTextColor": "#fff"
                            },
                            "dataZoom": {
                                "show": true,
                                "title": {
                                    "zoom": "\u533a\u57df\u7f29\u653e",
                                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                                },
                                "icon": {},
                                "xAxisIndex": false,
                                "yAxisIndex": false,
                                "filterMode": "filter"
                            },
                            "magicType": {
                                "show": false,
                                "type": [
                                    "line",
                                    "bar",
                                    "stack",
                                    "tiled"
                                ],
                                "title": {
                                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                                },
                                "icon": {}
                            },
                            "brush": {
                                "icon": {},
                                "title": {
                                    "rect": "\u77e9\u5f62\u9009\u62e9",
                                    "polygon": "\u5708\u9009",
                                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                                    "keep": "\u4fdd\u6301\u9009\u62e9",
                                    "clear": "\u6e05\u9664\u9009\u62e9"
                                }
                            }
                        }
                    },
                    "dataZoom": [
                        {
                            "show": true,
                            "type": "slider",
                            "realtime": true,
                            "start": 30,
                            "end": 100,
                            "orient": "horizontal",
                            "zoomLock": false,
                            "bottom": "-5%",
                            "filterMode": "filter"
                        },

                        {
                            "show": true,
                            "type": "inside",
                            "realtime": true,
                            "start": 20,
                            "end": 80,
                            "orient": "horizontal",
                            "zoomLock": false,
                            "filterMode": "filter"
                        }
                    ],
                    "brush": {
                        "toolbox": [
                            "rect",
                            "polygon",
                            "keep",
                            "clear"
                        ],
                        "brushLink": "all",
                        "xAxisIndex": "all",
                        "brushType": "lineX",
                        "brushMode": "single",
                        "transformable": true,
                        "brushStyle": {
                            "borderWidth": 1,
                            "color": "rgba(120,140,180,0.3)",
                            "borderColor": "rgba(120,140,180,0.8)"
                        },
                        "throttleType": "fixRate",
                        "throttleDelay": 0,
                        "removeOnClick": true,
                        "outOfBrush": {
                            "colorAlpha": 0.1
                        }
                    },
                    "grid": [
                        {
                            "show": false,
                            "zlevel": 0,
                            "z": 2,
                            "left": "10%",
                            "right": "25%",
                            "containLabel": false,
                            "backgroundColor": "transparent",
                            "borderColor": "#ccc",
                            "borderWidth": 1
                        }
                    ]
                };
                chart.setOption(option);
            </script>
            <style>
                .fl-table {
                    margin: 20px;
                    border-radius: 5px;
                    font-size: 12px;
                    border: none;
                    border-collapse: collapse;
                    max-width: 100%;
                    white-space: nowrap;
                    word-break: keep-all;
                }
                .fl-table th {
                    text-align: left;
                    font-size: 20px;
                }
                .fl-table tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                }
                .fl-table tr:hover td {
                    background: #00d1b2;
                    color: #F8F8F8;
                }
                .fl-table td, .fl-table th {
                    border-style: none;
                    border-top: 1px solid #dbdbdb;
                    border-left: 1px solid #dbdbdb;
                    border-bottom: 3px solid #dbdbdb;
                    border-right: 1px solid #dbdbdb;
                    padding: .5em .55em;
                    font-size: 15px;
                }
                .fl-table td {
                    border-style: none;
                    font-size: 15px;
                    vertical-align: center;
                    border-bottom: 1px solid #dbdbdb;
                    border-left: 1px solid #dbdbdb;
                    border-right: 1px solid #dbdbdb;
                    height: 30px;
                }
                .fl-table tr:nth-child(even) {
                    background: #F8F8F8;
                }
            </style>
        </div>
    </div>
</div>

<!-- 下方js为保证Semantic UI tab类工作 -->
<script>
    $('.pointing.secondary.menu .item').tab();
</script>


{% endblock %}