<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "visual/base.html" %}

<div class="ui tab segment active" data-tab="HomePage">

<!-- 隐藏分隔条 -->
<div class="ui hidden divider"></div>

<!-- 写入 base.html 中定义的 body content -->
{% block body %}

<div class="ui buttons" style="display:block;margin:0 auto">
    <input class="ui green button" type='button' id='plot_next' style="display:block;margin:0 auto" value="next"/>
</div>

<!-- 此处为居中的选择栏 -->
<div id="HomePage" class="pusher" style="padding-top:50px" data-tab="HomePage">
    {{ data }}
    <body>
        <div class="main">
            <h1>MAIN</h1>
        </div>
    </body>
</div></div>

{% endblock body %}