<div class="ui pointing secondary menu">
    <a class="item active" data-tab="Choose type"><i class="circle icon"></i>Choose type</a>
    <a class="item" data-tab="Change scale"><i class="trophy icon"></i>Change scale</a>
</div>
<div class="ui tab segment active" data-tab="Choose type">
    <div class="ui container">
        <div class="ui form">
            <h3 class="ui header" id="analysis">Choose Plot Type</h3>
            <div class="field">
                <div class="fields"></div>
                <div class="fields">
                    <div class="ten wide field">
                        <button data-uid="vis-type-button" id="plot_bar" class="vis-thumb svelte-1kl8maj">
                            <div class="svelte-1kl8maj">
                                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{opacity:0.5;enable-background:new    ;}
                                        .st1{fill:#FF00FF;}
                                    </style>
                                    <rect y="37.7" width="29.3" height="47.3"></rect>
                                    <rect x="36" width="28" height="85"></rect>
                                    <rect x="72" y="25.8" width="28" height="59.2"></rect>
                                </svg>
                                <div class="vis-title svelte-1kl8maj">柱状图</div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="fields"></div>
                <div class="fields">
                    <div class="ten wide field">
                        <button data-uid="vis-type-button" id="plot_scatter" class="vis-thumb svelte-1kl8maj">
                            <div class="svelte-1kl8maj">
                                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{opacity:0.5;enable-background:new    ;}
                                    </style>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 -48.8751 57.1552)" cx="9.2" cy="57.4" rx="4.7" ry="4.7"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 -72.6394 104.1435)" cx="25" cy="94.9" rx="4.7" ry="4.7"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 47.4138 74.5123)" class="st0" cx="67.6" cy="9.3" rx="9.3" ry="9.3"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 19.453 77.4935)" cx="55.4" cy="27.3" rx="4.7" ry="4.7"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 68.5168 97.9731)" cx="92" cy="8.6" rx="4.7" ry="4.7"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 -19.0307 99.9806)" class="st0" cx="49.4" cy="61.2" rx="21.2" ry="21.2"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 -14.0072 54.8347)" cx="25.3" cy="35.7" rx="4.7" ry="4.7"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 35.0296 111.2484)" class="st0" cx="83.1" cy="35" rx="9.3" ry="9.3"></ellipse>
                                    <ellipse transform="matrix(0.1628 -0.9867 0.9867 0.1628 11.9821 132.1048)" cx="83.8" cy="59" rx="4.7" ry="4.7"></ellipse>
                                </svg>
                                <div class="vis-title svelte-1kl8maj">散点图</div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="fields"></div>
                <div class="fields">
                    <div class="ten wide field">
                        <button data-uid="vis-type-button" id="plot_line" class="vis-thumb svelte-1kl8maj">
                            <div class="svelte-1kl8maj">
                                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{opacity:0.5;}
                                </style>
                                <path class="st0" d="M7.9,42.7c-0.8,0-1.6,0.3-2.2,0.8c-1.6,1.2-1.7,3.4-0.5,4.9L33,83.2c0.7,0.8,1.7,1.3,2.7,1.3
                                    c0.6,0,1.4-0.3,2-0.6l28-19.4L92,66.7c0.1,0,0.2,0,0.3,0c1.9,0,3.3-1.4,3.5-3.2c0.2-2-1.3-3.7-3.2-3.8l-27.5-2.4
                                    c-0.8,0-1.6,0.2-2.3,0.6L36.5,76.3L10.6,44.1C9.9,43.2,8.9,42.7,7.9,42.7"></path>
                                <path d="M8.8,68.9c-0.7,0-1.6-0.3-2.2-0.7C5.1,67,4.8,64.8,6,63.3L32.8,29c1-1.3,2.8-1.7,4.3-1L62.2,40L89.4,2
                                    c1.1-1.6,3.3-1.9,4.9-0.8c1.6,1.1,1.9,3.3,0.8,4.9L66.3,46.5c-1,1.4-2.8,1.9-4.4,1.1L36.7,35.5l-25.2,32
                                    C10.9,68.5,9.9,68.9,8.8,68.9z"></path>
                                </svg>
                                <div class="vis-title svelte-1kl8maj">折线图</div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui tab segment" data-tab="Change scale">
    <form action="" method="post">
        {% csrf_token %}
        <label class="col-sm-2 control-label" style="text-align: right">y轴数据类型：</label>
        <div class="field">
            <div class="fields"></div>
            <div class="fields">
                <div class="fifteen wide field">
                    <select name="data_type" id="data_type" class="ui fluid search dropdown">
                        {% for key, value in data_type.items %}
                            {% if key == 'str' %}
                                <option value="{{ key }}" selected>{{ key }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ key }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <label class="col-sm-2 control-label" style="text-align: right">y轴坐标轴范围</label>
            <div class="field">
                <div class="fields"></div>
                <div class="fields">
                    <div class="row" style="margin-bottom: 20px;padding-left: 20px">
                      <input type="text" placeholder="min" name="x_axis_min" id="x_axis_min">
                      <input type="text" placeholder="max" name="x_axis_max" id="x_axis_max">
                    </div>
                </div>
            </div>
        <div class="ui buttons" style="display:block;margin:0 auto">
            <input class="ui primary button" type='submit' id='change_scale' style="display:block;margin:0 auto" value="修改"/>
        </div>
    </form>
</div>
<!-- 下方js为保证Semantic UI tab类工作 -->
<script>
    $('.pointing.secondary.menu .item').tab();
</script>

<script type="text/javascript">

    $("#plot_bar").click(function (event) {
        event.preventDefault();
        var chart = echarts.init(document.getElementById('total_trend'), 'white', {renderer: 'canvas'});
        $.ajax({
            url: '{% url 'visual:plot' %}',
            type: 'GET',
            data: 'Bar',
            success: function(ret) {
                chart.clear();
                chart.setOption(ret['total_trend']);
                chart.hideLoading();
            },
            error: function() {
                console.log('failure')
            }
        });
    })

    $("#plot_scatter").click(function (event) {
        event.preventDefault();
        var chart = echarts.init(document.getElementById('total_trend'), 'white', {renderer: 'canvas'});
        $.ajax({
            url: '{% url 'visual:plot' %}',
            type: 'GET',
            data: 'Scatter',
            success: function(ret) {
                chart.clear();
                chart.setOption(ret['total_trend']);
                chart.hideLoading();
            },
            error: function() {
                console.log('failure')
            }
        });
    })

    $("#plot_line").click(function (event) {
        event.preventDefault();
        var chart = echarts.init(document.getElementById('total_trend'), 'white', {renderer: 'canvas'});
        $.ajax({
            url: '{% url 'visual:plot' %}',
            type: 'GET',
            data: 'Line',
            success: function(ret) {
                chart.clear();
                chart.setOption(ret['total_trend']);
                chart.hideLoading();
            },
            error: function() {
                console.log('failure')
            }
        });
    })
    $("#change_scale").click(function (event) {
        event.preventDefault();
        var form_data = {
            "x_axis_min": $("#x_axis_min").val(),
            "x_axis_max": $("#x_axis_max").val(),
            "data_type": $("#data_type").val(),
        };
        var chart = echarts.init(document.getElementById('total_trend'), 'white', {renderer: 'canvas'});
        $.ajax({
            url: '{% url 'visual:plot_change_scale' %}',
            type: 'GET',
            data: form_data,
            success: function(ret) {
                chart.clear();
                chart.setOption(ret['total_trend']);
                chart.hideLoading();
            },
            error: function() {
                console.log('failure')
            }
        });
    })
</script>