<div class="ui inverted menu">
<!-- <div class="ui pointing menu"> -->
    <div class="ui container">
        <a class="red item" data-tab="HomePage" href={% url "visual:index" %} >&nbsp;&nbsp;&nbsp;&nbsp;首页 HomePage&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="orange item" data-tab="Algorithm" href={% url "visual:blog" %} >&nbsp;&nbsp;&nbsp;&nbsp;算法分享 Blogs&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>

</div>

<!--<a href="/visual/index" style="color:white">-->
<!--    <button class="btn btn-success btn-xs" style="margin:0px;color:green">upload data</button>-->
<!--</a>-->
<!--<div class="ui divider"></div>-->

