<div class="ui four steps">
  <a href="http://127.0.0.1:8000/visual/index" class="link step">
    <i aria-hidden="true" class="folder open icon"></i>
    <div class="content">
      <div class="title">upload data</div>
      <div class="description">a</div>
    </div>
  </a>
  <a href="/visual/choose_file_name" class="link step">
    <i class="tasks icon"></i>
    <div class="content">
      <div class="title">select feature</div>
      <div class="description">b</div>
    </div>
  </a>
  <a href="http://127.0.0.1:8000/visual/plot" class="link step">
    <i aria-hidden="true" class="chart area icon"></i>
    <div class="content">
      <div class="title">visualization</div>
      <div class="description">c</div>
    </div>
  </a>
  <a class="link step">
    <i aria-hidden="true" class="paper plane outline icon icon"></i>
    <div class="content">
      <div class="title">export</div>
      <div class="description">d</div>
    </div>
  </a>
</div>

