<div class="ui four steps">
  <a href="/blog/index" class="active step">
    <i class="folder open icon"></i>
    <div class="content">
      <div class="title">upload data</div>
      <div class="description">a</div>
    </div>
  </a>
  <a href="/blog/choose_file_name" class="step">
    <i class="tasks icon"></i>
    <div class="content">
      <div class="title">select feature</div>
      <div class="description">b</div>
    </div>
  </a>
  <a href="/blog/plot" class="step">
    <i class="chart area icon"></i>
    <div class="content">
      <div class="title">visualization</div>
      <div class="description">c</div>
    </div>
  </a>
  <a class="step">
    <i class="paper plane outline icon icon"></i>
    <div class="content">
      <div class="title">export</div>
      <div class="description">d</div>
    </div>
  </a>
</div>
